
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Goldman', cursive;

}
.nav-logo{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
#navbarNav ul li a{
  color: black;
  font-size: 18px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) ease-in-out 0.1s;
}
/* #navbarNav ul li a:hover{
  color: seashell;
  background-color: red;
  border-radius: 25px;
} */
.nav-link:hover{
  color: seashell !important;
  background-color: red !important;
  border-radius: 25px !important;
  cursor: pointer !important;
}
.active{
  color: seashell !important;
  background-color: #87cefa !important;
  border-radius: 25px !important;
}
.active a{
  color: seashell !important
}
 #img1{
  flex: 33%;
}
#img2{
  flex: 33%;
}
#img3{
  flex: 33%;
}
#img1 img{
            width: 250px;
            height: 200px; 
} 
#img2 img{
  width: 250px;
            height: 200px; 
}
#img3 img{
  width: 250px;
            height: 200px; 
}
@media only screen and (max-width: 300px){

#img1 img{
width: 120px;
height: 160px;
}
}
@media only screen and (max-width: 300px){

#img2 img{
width: 120px;
height: 160px;
}
}
@media only screen and (max-width: 300px){

#img3 img{
width: 120px;
height: 160px;
}
}
.secimg{
padding: 20px;
/* border: 10px solid; */
border-radius: 40px;
}
.socialhomesec{
text-align: center;
border-right: 1px solid #ddd;
}
#fatwitter{
border-right: none;
}
.homeimg{
text-align: center;
}
.socialhomesec h2{
margin-top: 5px;
color: #1C1E29;
}
.socialhomesec p{
color: #1C1E29;
font-weight: 500;
}
 .socialhomesec a{
text-decoration: none;
}
#fayoutube a i:hover{
color: #e52d27 !important;
}
#fafacebook a i:hover{
color: #3b5998 !important;
}
#fainstagram a i:hover{
color: #c13584 !important;
}
#fatwitter a i:hover{
color: #55acee !important;
}
 .navbar{
position: sticky;
left: 0px;
right: 0px;
top: 0px;
z-index: 1;
} 
.customhr1{
  
  animation-name: new1;
  animation-direction: normal;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

/* .customhr:hover{
  animation-play-state: paused;
} */

@keyframes new1{
  0%{
  background-color: gold;
  }
  25%{
    background-color: greenyellow;
  }
  50%{
    background-color: red;
  }
  75%{
    background-color: azure;
  }
  100%{
   background-color: blueviolet;
  }
}
#customhr2{
  animation-name: new2;
  animation-direction: normal;
  animation-duration: 5s;
   animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes new2{
  0%{
  background-color: gold;
  }
  25%{
    background-color: greenyellow;
  }
  50%{
    background-color: red;
  }
  75%{
    background-color: azure;
  }
  100%{
   background-color: blueviolet;
  }
}
.customaccessorycard img{
  display: block;
  width: 50%;
  margin: auto;
}
.customaccessorycard{
  text-align: center;
}
@media only screen and (max-width:340px){

  .customsec2 h2{
    font-size: 10vw;
}
.customaccessorycard{
  width: 70vw !important;
}

}
.rippleeffect{
  position: relative;
  display: inline-block;
}
.rippleeffect img{
  display: block;
  visibility: hidden;
}
.rippleeffect::after{
  content: "";
  position: absolute;
  background-image: url(minecraft.png);
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

/* .sploffr{
  position: absolute !important;
  top:10px !important;
  background-color: #1C1E29 !important;
  color:aliceblue !important;
  padding:3px !important;
} */
  /* .accessorycardbodybtn{
    white-space: normal !important;
    word-wrap: break-word;
  } */
